rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permitir lectura pública, escritura deshabilitada
    match /{document=**} {
      allow read: if true;
      allow write: if false;
    }
  }
}